body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #ffffff;
  margin: 0;
}


.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: contrast(1.1) saturate(1) brightness(0.7);
}

.content {
  padding: 4rem clamp(1rem, 5vw, 100px);
  margin: 0;
  position: relative;
  z-index: 1;
  max-width: 50%;
}

.logo {
  width: clamp(80px, 10vw, 150px);
  height: auto;
  z-index: 9999;
}


.container {
  position:relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.button-container {
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: space-around; 
  align-items: right;

  padding: 15px;
  width: 100%;


  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  font-weight: 600;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, 0.011); 
  
}

.container_titre {
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.container_titre h1 {
  font-size: clamp(6.5rem, 5vw, 3rem);
  line-height: 1.1;
  margin: 0 0 1rem 0;
}

.container_titre p {
  font-size: clamp(2.85rem, 1.5vw, 1.1rem);
}

footer {
    position: fixed;
    margin-top: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

p {
  margin-bottom: 1.5rem;
  margin-top: auto;
  font-size: 100%;
}

a {
    z-index: 9999;
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #cccccc;
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.glass-button span {
	width: 100%;
	height: 100%;
	position: relative;
}

.glass-container {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.011);
    
}

.glass-effect-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    filter: blur(10px);
}


.glass-effect.top {
	top: 0;
}

.glass-effect.bottom {
	bottom: 0;
}

.glass-effect.left {
	left: 0;
	top: 0;
	bottom: 0;
	width: 0.8rem;
	height: 100%;
}

.glass-effect.right {
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
	width: 0.8rem;
	height: 100%
}