body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;

  
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 103%;
  filter: contrast(1.1) saturate(1) brightness(0.9) ;
}

.content {
  padding: 4rem 1rem;
  margin: 0 auto;
  padding-left: 100px;
  margin-right: 700px;
  
}

.logo {
  width: 150px;
  height: auto;
  z-index: 9999;
}


.container {
  position:absolute;
  z-index: 1;
  height: 100px;
  
}

.button-container {
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: space-around; 
  align-items: right;

  padding: 15px;
  width: 100%;


  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, 0.011); 
  
}

.container_titre {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

footer {
    position: fixed;
    margin-top: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

p {
  margin-bottom: 1.5rem;
  margin-top: auto;
}

a{
    z-index: 9999;
}


.glass-button span {
	width: 100%;
	height: 100%;
	position: relative;
}

.glass-container {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.011);
    
}

.glass-effect-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    filter: blur(10px);
}


.glass-effect.top {
	top: 0;
}

.glass-effect.bottom {
	bottom: 0;
}

.glass-effect.left {
	left: 0;
	top: 0;
	bottom: 0;
	width: 0.8rem;
	height: 100%;
}

.glass-effect.right {
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
	width: 0.8rem;
	height: 100%
}

/* ---------------------------------------------------------------------------- */
/* ----- ce que j'ai rajouter pour la page "a propos de nous" et les lien ----- */
/* ---------------------------------------------------------------------------- */

.page-fond {
    margin: 0;
    padding: 0;
    background-image: url('../img/fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.azerty {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.block {
    position: absolute;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    top: 130px;
    background: rgba(255, 255, 255);
    border-radius: 16px;
    z-index: 2;
}


.block-image {
    height: 50%;
}

.block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.block-text {
    text-align: left;
}

.nom {
  font-weight: 700;
  text-align: center;
}

.block-text p {
    margin: 0.9rem;
}


.block.haut-gauche {
    left: 5%;
}

.block.centre {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.block.bas-droite {
    right: 5%;
    top: auto;
    bottom: 100px;
}


a {
  color: #1d85ab;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #1d85ab;
}
